﻿.calculator button, input[name=button] {
    width:50px;
}
input[name=anzeige] {
    width: 260px; 
    text-align: right;
    font-family: monospace;
}
.main {
    width: 400px; 
    margin:auto;
    margin-top: 50px;
}
label {
    width: 100px;
}
label + input.form-control {
    display:inline-block; 
    width:auto;
}

.calculator {
    margin:auto;
}
.anmerkungen {
    width:800px;
    padding-top: 50px;
    margin: auto;
}
table {
    border-spacing: 2px;
}
td, th {
    padding: 1px;
}