﻿@using System.Web.Hosting
@model Calculator.ViewModels.CalculatorView
<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    @Styles.Render("~/Content/css")

</head>
<body>
    
    <div class="main">
        
        <form action="" method="post">

            <input type="hidden" name="stack" value="@Model.CalculatorState" />

            <table class="calculator">
                <tr>
                    <td colspan="5">
                        <input class="form-control" type="text" name="anzeige" value="@Model.Display" />
                    </td>
                </tr>
                <tr>
                    <td><input class="btn btn-sm btn-primary" type="submit" value="1" name="button" /></td>
                    <td><input class="btn btn-sm btn-primary" type="submit" value="2" name="button" /></td>
                    <td><input class="btn btn-sm btn-primary" type="submit" value="3" name="button" /></td>
                    <td><button class="btn btn-sm btn-primary" type="submit" name="button" value="add">+</button></td>
                    <td><button class="btn btn-sm btn-primary" type="submit" name="button" value="square">x<sup>2</sup></button></td>
                </tr>
                <tr>
                    <td><input class="btn btn-sm btn-primary" type="submit" value="4" name="button" /></td>
                    <td><input class="btn btn-sm btn-primary" type="submit" value="5" name="button" /></td>
                    <td><input class="btn btn-sm btn-primary" type="submit" value="6" name="button" /></td>
                    <td><button class="btn btn-sm btn-primary disabled" type="submit" name="button" value="-">-</button></td>
                    <td><button class="btn btn-sm btn-primary disabled" type="submit" name="button" value="power">x<sup>y</sup></button></td>
                </tr>
                <tr>
                    <td><input class="btn btn-sm btn-primary" type="submit" value="7" name="button" /></td>
                    <td><input class="btn btn-sm btn-primary" type="submit" value="8" name="button" /></td>
                    <td><input class="btn btn-sm btn-primary" type="submit" value="9" name="button" /></td>
                    <td><input class="btn btn-sm btn-primary disabled" type="submit" value="*" name="button" /></td>
                    <td><button class="btn btn-sm btn-primary disabled" type="submit" name="button" value="faculty">x!</button></td>
                </tr>
                <tr>
                    <td><button class="btn btn-sm btn-primary disabled" type="submit" name="button" value="plusminus">&plusmn;</button></td>
                    <td><input class="btn btn-sm btn-primary" type="submit" value="0" name="button" /></td>
                    <td><input class="btn btn-sm btn-primary" type="submit" value="." name="button" /></td>
                    <td><input class="btn btn-sm btn-primary disabled" type="submit" value="/" name="button" /></td>
                    <td><button class="btn btn-sm btn-primary disabled" type="submit" value="sqrt" name="button">&radic;<span style="text-decoration:overline;">&nbsp;x</span></button></td>
                </tr>
                <tr>
                    <td><button class="btn btn-sm btn-danger" type="submit" name="button" value="clear">C</button></td>
                    <td><button class="btn btn-sm btn-warning disabled" type="submit" name="button" value="load">LOAD</button></td>
                    <td><button class="btn btn-sm btn-warning disabled" type="submit" name="button" value="save">SAVE</button></td>
                    <td><button class="btn btn-sm btn-primary" type="submit" value="pi" name="button">&pi;</button></td>
                    <td><button class="btn btn-sm btn-success" type="submit" value="equals" name="button">=</button></td>
                </tr>
            </table>

        </form>

    </div>
    
    @{
        var webRootPath = Server.MapPath("~");
        var docPath = Path.GetFullPath(Path.Combine(webRootPath, @"..\README.md"));
        var input = File.ReadAllText(docPath);
        var md = new MarkdownDeep.Markdown { ExtraMode = true, SafeMode = false };
        var readme = md.Transform(input);
    }

    <div class="anmerkungen">@Html.Raw(readme)</div>
    
    @Scripts.Render("~/Scripts/javascript")

</body>
</html>